@import './../scss/variables';

.html {
  @extend %font-regular;
}
.container {
  @media #{ $desktop } {
    max-width: size(1220);
  }
  .navbar {
    padding: 0;
  }
}

body {
  background: $color-white;
  font-size: $size-sm;
  @extend %font-regular;
}

button:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

input[type='text'] {
  border: 1px solid #bbbdbf;
  border-radius: 4px;
  padding: 0px 20px;
  color: #bbbdbf;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.member-details {
  .btn {
    padding: size(10) size(40);
    border-radius: size(40);
    font-size: 1.2em;
  }
}

.btn {
  outline: none;
  outline: 0px;
}

button:focus {
  outline: none;
}

header,
section,
footer,
.datagrid {
  display: block;
}

// .section-c1 {
//   width: 100%;
//   position: relative;
//   display: block;
// }

.member-page button.graybtn-border {
  border: 1px solid #cfd0d2;
  background-color: #fff;
  color: #a3a4a7;
  @extend %regular_semibold;
}
.member-page .member-details {
  .btn {
    @extend %regular_semibold;
    font-weight: 400;

    &.graybtn-solid {
      background-color: #cfd0d2;
      border: 1px solid #cfd0d2;
      color: $color-grey-lighter;
    }
    &.pinkbtn-border {
      border: 1px solid $color-pink;
      background-color: $color-white;
      color: $color-pink;
      &:hover {
        box-shadow: 1px 1px 0 2px rgba(150, 150, 150, 0.2);
      }
    }
    &.pinkbtn-solid {
      background-color: $color-pink;
      border: 1px solid $color-pink;
      color: $color-white;
      &:hover {
        box-shadow: 1px 1px 0 2px rgba(100, 250, 10, 0.2);
      }
    }
  }
}

/* end memeber search coding */

/* scroll start*/

::-webkit-scrollbar {
  width: size(8);
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: size(8);
  -webkit-border-radius: size(8);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbbdbf;
  border-radius: size(8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-grey-lighter;
}
/* scroll*/

.cta-close {
  position: absolute;
  right: 0;
}
.text-pink {
  color: #ec008c;
}
.cta-close button {
  font-weight: 600;
}

.text-teal {
  color: #00a69e;
}

.tab-two-column {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #444444;
}
.margin-top-20 {
  margin-top: 20px;
}
.text-underline {
  text-decoration: underline;
}
.flex {
  display: flex;
}
.flex.flex-justify-space-between {
  justify-content: space-between;
}

.font-14 {
  font-size: 14px;
}

.member-home-magnifier:not(:disabled) .fa-search {
  color: #919597;
}
.member-input ~ div > button {
  border-radius: 45px;
}

.input-group-append .member-home-magnifier {
  width: 40px;
  padding: 0;
  position: absolute;
  right: -18px;
  z-index: 10;
  top: -3px;
}
.no-record {
  position: absolute;
  left: calc(50% - 100px);
}

.font-small {
  font-size: 12px;
}
.max-w-150 {
  max-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table th {
  padding-top: 10px;
}

.divTableRow.row-disable,
.divTableRow.row-disable:hover {
  /* background-color:rgba(187, 189, 191, 0.5) */
  background: #f5f5f5;
  opacity: 0.5;
  cursor: default;
}

.para {
  @extend %regular_semibold;

  &-subtitle {
    color: $color-grey;
    font-weight: 400;
  }
}

.font-md {
  font-size: $size-md;
}

.font-sm {
  font-size: $size-sm;
}

.font-xs {
  font-size: $size-xs;
}

.font-xl {
  font-size: $size-xl;
}

.flex {
  display: flex;
  &-grow {
    flex-grow: 1;
  }
  &--space-around {
    justify-content: space-around;
  }
  &--space-between {
    justify-content: space-between;
  }
  &--column {
    flex-direction: column;
  }
  &.mobile-flex-dir-column {
    flex-direction: column;
  }
  &.mobile-flex-wrap {
    flex-wrap: wrap;
  }
}
.vertical-center {
  top: 49%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  left: 50%;
  position: absolute;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.strong,
.text-bold,
.bold {
  @extend %regular_bold;
  font-weight: 600;
}

.min-h-50 {
  min-height: size(50);
}

.expired,
.open,
.complete {
  position: relative;
  padding-left: size(10);
  &:before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 7px;
  }
}

.expired:before {
  background-color: $color-expired;
}

.open:before {
  background-color: $color-open;
}

.complete:before {
  background-color: $color-grey;
}
