@import './../../../assets/scss/variables';

.panel-table {
  th {
    font-size: size(10);
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: bold;
    color: $color-grey;
  }
}

.tab-two-column td:first-child {
  @extend %regular_semibold;
  color: $color-grey;
  padding-right: size(20);
  vertical-align: top;
  max-width: 50%;
}

.panel {
  padding: size(20) size(10);
  &.panel-default {
    border: 1px solid $color-active;
    border-radius: size(3);
    min-height: size(200);
  }

  &.panel-table {
    border: 1px solid $color-active;
    border-radius: size(3);
    padding: 0;
    font-size: size(13);
    line-height: size(24);

    .table {
      margin-bottom: 0;
      th {
        position: relative;
        cursor: pointer;
        background: $color-border;
        padding: size(5) size(10);
        letter-spacing: 0.5px;
        &::after {
          content: '';
          width: 5px;
          height: 5px;
          border-left: 1px solid #444444;
          border-bottom: 1px solid #444444;
          display: inline-block;
          margin-left: 6px;
          transform: rotate(-45deg);
          position: absolute;
          top: 14px;
          transition: all 0.45s ease-in-out;
        }
        &.active::after {
          transform: rotate(135deg);
          top: 16px;
        }
      }
      td {
        padding: size(15) size(10);
      }
    }
  }
}

.panel-title {
  @extend %regular_bold;
  font-size: $size-lg;
  line-height: $size-lg;
  margin-bottom: $size-xs;
  padding-left: $size-xs;
}

.table-striped tbody tr {
  &:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &:nth-of-type(odd) {
    background-color: #fff;
  }
}

.panel-default.eligiblity .tab-two-column tbody tr td:first-child {
  width: size(150);
}
.modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
}

.totalReferral {
  position: absolute;
  right: size(22);
  top: 0;
  font-weight: 600;
  color: $color-grey;
  @extend %font-regular;
}
