@import './../../../assets/scss/variables';

form[name='ManagementSearchBoxForm'] {
  @extend %font-regular;

  .input-group-prepend {
    position: absolute;
    left: 0;
    top: 0;
  }

  .input-group-append {
    position: absolute;
    right: 0;
    top: size(23);
    z-index: 10;

    .btn-secondary {
      background-color: transparent;
      color: $color-dark;
      border: none;
    }
  }

  .member-search {
    margin-top: size(24);
    width: 100%;
    border-radius: size(4) !important;
    font-size: $size-lg;
    line-height: size(24);
    padding-left: size(38);
    &:focus {
      outline: none;
      border: 1px solid $color-outline;
      box-shadow: none;
    }
  }
  .fa-search {
    position: absolute;
    left: size(10);
    top: size(34);
    background: url('../../../assets/images/search_icon.svg') no-repeat center
      center;
    width: size(16);
    height: size(16);
    background-size: cover;
    cursor: pointer;
    z-index: 10;
    &::before {
      content: none;
    }
  }
}

.management-list {
  position: relative;
  padding-top: size(90);
  padding-bottom: size(100);
  .table---table-wrapper---1t2D3 {
    border: none;
    .table---table---2aBqd {
      border: 1px solid $color-grey-lighten;
      border-radius: size(3);
    }
  }
  @extend %font-regular;
  .pagination {
    font-size: $size-sm;
    position: absolute;
    top: size(38);
    right: size(15);

    li {
      margin-left: size(5);
      a {
        color: $color-dark;
        text-transform: uppercase;
        display: inline-block;
        min-height: size(27);
        line-height: size(27);
        outline: none;

        &:hover {
          text-decoration: none;
        }
      }

      &:not(.previous):not(.next) {
        a {
          min-width: size(27);
          text-align: center;
          border-radius: 50%;
          font-size: $size-md;
          transition: all 0.45s ease-in;
          &:hover {
            background-color: $color-dark;
            color: $color-white;
            cursor: pointer;
          }
        }
      }

      &.next {
        letter-spacing: 1px;
        margin-left: size(4);
        cursor: pointer;
        a {
          padding-right: size(24);
          position: relative;
          &::after {
            content: '';
            width: size(13.5);
            height: size(10.5);
            background: url('../../../assets/images/arrow-right.svg') no-repeat
              center center;
            background-size: cover;
            display: inline-block;
            position: absolute;
            right: 0;
            top: size(9);
          }
        }
        &.disabled {
          opacity: 0.5;
          cursor: default;
        }
      }

      &.previous {
        letter-spacing: 1px;
        cursor: pointer;
        a {
          position: relative;
          padding-left: size(24);
          &::before {
            content: '';
            width: size(13.5);
            height: size(10.5);
            background: url('../../../assets/images/arrow-left.svg') no-repeat
              center center;
            background-size: cover;
            display: inline-block;
            position: absolute;
            left: 0;
            top: size(9);
          }
        }
        &.disabled {
          opacity: 0.5;
          cursor: default;
        }
      }

      &.active {
        a {
          background-color: $color-dark;
          color: $color-white;
          cursor: pointer;
        }
      }
    }
  }
  .table---tr---3XEXR {
    div[class*='table---th']:first-child {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .table-row {
    div[class*='table---td---']:first-child {
      padding-left: 0 !important;
      padding-right: 0 !important;
      position: relative;
      .expandIcon {
        cursor: pointer;
        border: 2px solid $color-outline;
        display: inline-block;
        position: absolute;
        width: size(8);
        height: size(8);
        left: size(6);
        top: size(25);
        transition: all 0.3s ease-in;
        border-bottom-width: 0;
        border-left-width: 0;
        &.rowCollapsed {
          transform: rotate(45deg);
        }
        &.rowExpanded {
          transform: rotate(135deg);
        }
      }
    }
  }
}

.button {
  @extend %regular_semibold;
  @include button;
  &.button-primary {
    @include button($bg-color: $color-pink, $font-color: $color-white);
    position: absolute;
    bottom: size(0);
    right: size(40);
  }
}

.col-md-2.col-lg-offset-2 {
  margin-left: size(110);
  margin-top: size(10);
}

.mt-10 {
  margin-top: size(10);
}
.ml-110 {
  margin-left: size(110);
}

.pb-25 {
  padding-bottom: size(25);
}

.referralId,
.referralReason,
.referredProviderNpi {
  color: $color-grey-lighter;
  @extend %regular_semibold;
}

.col-md-offset-2 {
  @media #{desktop} {
    margin-left: 16.66% !important;
  }
}

div[class$='Name'],
.referredProviderNpiName {
  font-size: size(14);
}

div[class*='table---tr-expand'] {
  min-height: size(150);
  padding-bottom: size(10);
}

.tr-active {
  animation: slideToggle 0.5s ease-in-out forwards;
}

@keyframes slideToggle {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

.memberName,
.referringProvider,
.speciality,
.referredProvider {
  div[class*='table---td-content'] {
    @extend %ellipses;
    white-space: nowrap !important;
  }
}

.table---table---2aBqd
  > .table---tbody---3q9RK
  > .table---tr---3XEXR:last-child
  > .table---tr-expand---sEKPQ {
  border-top: none !important;
}

.table---tr-expand---sEKPQ {
  border-bottom-width: 0;
}
