@import './../../../assets/scss/variables';

.modal-body {
  .top-banner-header {
    .container:first-child {
      padding-top: 0;
    }
  }
}
.top-banner-header {
  background: $color-blue;
  color: $color-white;
  margin-bottom: size(32);
  @extend %font-regular;
  font-weight: normal;
  padding: size(10) 0;

  .member-id,
  .status,
  .dob {
    font-size: $size-lg;
    line-height: size(19);
    font-weight: 400;
    margin-right: size(50);
    padding-top: size(7);
  }

  .title {
    @extend %regular_bold;
    font-size: size(20);
    font-weight: 600;
  }

  .header-cta-btn {
    line-height: size(20);
    padding: 4px 0 0;
  }
}

.font-lg {
  font-size: 30px;
}
.close {
  font-size: 16px;
}

.modal-header a.close span {
  display: inline-block;
  vertical-align: -4px;
  cursor: pointer;
}

.member-top-header .modal-header {
  border-bottom: none;
  padding: 10px 0 15px;
}
.member-top-header .container {
  padding: 10px 0 0;
}
.member-top-header .modal-body {
  padding-top: 0;
}
